body {
    background-image: url(../img/Capture.JPG);
    
    background-color: lightcoral;
    text-align: center;
    
    background-repeat: no-repeat;
}
h1{
  font-size: 50px;
  opacity: 1;
  /* position: absolute;
  top: 0;
  right: auto; */
  color: antiquewhite;
  transition : all 0.7s ease-out;
  background-clip: text;
  margin-top: -15px;
  margin-bottom: -5px;
  
  
}
.hint1{
    
    display: all;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:transparent;
    border:0;
}
.hint2{
    
    display: all;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:transparent;
    border:0;
}
.hint3{
    
    display: all;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color:transparent;
    border:0;
}

.board {
    text-align: center;
}

.center {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: lightcoral;
}

.hidden{
    display: none;
}

.button {
    cursor: pointer;
    background-color: brown;
    margin-left: 15px;
    border-radius: 25%;
    color: white;
}
.emoji{
    cursor: pointer;
    height: 70px;
    width: 70px;
    background-color: gold;
    margin-top: 5px;
    font-size: 35px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.lifes {
    height: 50px;
    width: 210px;
    position: static;
    background-color: rgb(233, 233, 0);
    margin: auto;
    
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    border-style: groove;
    
}

.timer {
    display: inline-block;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding:  15px;
    height: 70px;
    width: 70px;
    background-color: lightgoldenrodyellow;
    position: static;
    left: 10px;
    top: 20px;
    margin: auto;
    font-style: oblique;
    font-size: 30px;
    border-style: groove;

}
.cell.hint{
    background-color: magenta;
}
.cell.clicked {
    background-color: lightgreen;
}

.cell.boom {
    background-color: rgb(77, 5, 5);
}

.cell.mark {
    background-color: rgb(6, 15, 94);
}